<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="faceapikey" value="5bcc51ba6a5d4911befa5ebf8c93e2c9"></add>
    <add key="emotionkey" value="9efb6b97f0814fd8aaea60298b0073c4"></add>
    <add key="visionkey" value="0e47e2ae8d37455094dc64cf09d8c852"></add>
    <add key="dandy_application_dbConnectionString" value="Data Source=dandy-server.database.windows.net;Initial Catalog=dandy-application-db;Persist Security Info=True;User ID=dandy;Password=C@rneLL88"></add>
  </appSettings>
</configuration>